@import "./reset.css";
@import "./navbar.scss";
@import "./instruction.scss";
@import "./game.scss";
@import "./start.scss";

body {
    width: 100%;
    height: 100%;
}

canvas { 
    background: #eee; 
    margin-top: 100px;
    width: auto;
    height: 600px;
    opacity: 90%;
}