#instruction-background { 
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;

}

.instruction-container-top { 
  margin-top: 140px;
  margin-right: 0;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  border: 1px solid black;  
}

.instruction-content { 
  margin-right: 0;
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;  
}

#instructions { 
  padding-bottom: 50px;
}