
#body-container { 
    display: flex;
    width: 100%;
    height: 100vh;
    padding-top:  50px;


    background-image: url(../images/building.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#score {
    width: 100px;
    height: 100px;
    font-family: sans-serif;
    font-weight: 700;
    padding-right: 10%;
}

.side-container { 
  margin-left: 5%;  
  width: 20%;
  height: 80%;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: rgb(88, 88, 88);
  opacity: 90%;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding:16px;

  .side-container-content {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  p { 
    text-align: center;
    padding-top: 20px;
  }
  p:hover { 
    text-decoration: underline;
  }

  #start { 
    background-color: #fff;
    border: 1px solid pink;
    padding: 10px 20px;
    margin-bottom: 50px;
  }
}



.game-container {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding:16px;
}
